 <h1>Hello <%= @current_user.username %></h1>
 <p> Welcome To Contri_B. </p>
 <p> Create Contribution groups in which you can keep track of how much and what items you are contributing to. </p>
 <p> Enjoy!</p>