<% content_for(:title, "Groups") %>
<%= show_groups('list',@groups)  %>

<div class="  row text-center btn-background">
    <%= link_to 'ADD GROUP', new_group_path, class: "col-sm-12 button text-center "%>
</div>

