<% content_for(:title, "Contributions") %>

<%= show_contributions('list',@contributions)  %>

<div class=" row text-center btn-background">
    <%= link_to 'ADD CONTRIBUTION', new_contribution_path, class: "col-sm-12  button text-center" %>
</div>