<% content_for(:title, "Ungrouped Contributions") %>

<%= show_contributions('list',@contributions)  %>

<div class=" text-center">
    <%= link_to 'Add Contribution', new_contribution_path, class: "btn btn-primary text-center" %>
</div>
