/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$color: #a8a8a8;
$color2: #5fbf23;
$color3: #3778c2;

body {
  background-color: #f1f3f2;
}

.total {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 1.5rem;

  span:first-child {
    color: $color;
  }

  span:last-child {
    font-weight: bold;
  }
}

.blue-background {
  background-color: $color3;
}

.white {
  color: white !important;
}

.group-img {
  width: 100%;
  margin-top: 1rem;
  display: block;
}

.btn-background {
  background-color: $color2;
  padding: 1.5rem;
}

.button {
  border: 1px solid white;
  padding: 1rem;
  color: white;
  text-decoration: none;
}
